
.progress-wrapper {
  width: 100%;
  .progress-point {
    background-color: $secondary;
    height:20px;
    width:20px;
    border:1px solid $secondary;
    border-radius: 50%;
    position: relative;
    i {
      display:none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
    
    &.right {
      .fa-check {
        display:block;
        color: $primary;
        -webkit-text-stroke: 1.5px $secondary;
      }
    }

    &.success-page {
      border:1px solid $primary;
      .fa-check {
        display: block;
        color: $secondary;
        -webkit-text-stroke: 1.5px $primary;
      }
    }

    &.processing{
      .fa-circle-o {
        display:block;
        color: $primary;
        font-size: 21px;
      }
    }

    &.not-performed {
      .fa-circle{
        display:block;
        color: $primary;
        font-size: 21px;
      }
    }
  }
  .progress-waypoint {
    width: 30%;
    height: 0px;
    background-color:$secondary;
    position:relative;
    top:10px;
    border-bottom:1px solid $secondary;
  }

  .success-progress{
    width: 30%;
    height: 0px;
    background-color:$primary;
    position:relative;
    top:10px;
    border-bottom:1px solid $primary;
  }
}